<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="http://coffeeclock.brunoamaral.eu/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="http://coffeeclock.brunoamaral.eu/style.css">
</head>
<body>
    {{{body}}}
</body>

<script src="javascripts/jquery.min.js"></script>
{{{javascript}}}
</html>