<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 vertical-center text-center" id="coffeetable">
		<p>A coffee cup can fit into so many moments of your day. It picks you up, it gives you an excuse to go out and sit at a Café.</p>
		<p>We use it like a tool. "Come, let's grab a cup." We say these things and yet, it's never about the coffee. It's about the other person.</p>
		<p>Yet, for some reason, a cup of espresso is now symbolic to the rush of work and day-to-day life. We have lost the ritual of sitting around and talking. Going for coffee should be about enoying someone's company, sharing ideas, catching up.</p>
		<p>But we rush against the clock.</p>
		<p>I think this is why clocks give me a bit of anxiety.</p>
		<p>Odly enough this strange relationship between time, anxiety and cups of espresso gave me the idea to photograph a different kind of clock. First it was just for fun. Then it was a personal collection. Later it grew and not the Coffee o'Clock actually tells the time, by the hour.</p>
		<p>The next step, is to refurbish an old laptop screen and have the clock on display in my living room.</p>
		</div>
	</div>
</div>