<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 vertical-center text-center" id="coffeetable">
			<img src="" alt="" class="clock img-responsive">
		</div>
	</div>
</div>