<div class="row">
	<div class="col-md-6 col-sm-12 col-md-offset-3 vertical-center text-center no-padding" id="coffeetable">
		<img src="" alt="" class="clock tex-center img-responsive">
	</div>
</div>