doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://coffeeclock.brunoamaral.eu/custom.css', type='text/css')
		link(rel='stylesheet', href='http://coffeeclock.brunoamaral.eu/stylesheets/bootstrap.min.css', type='text/css')
	body
		block content
	script(src='javascripts/jquery.min.js')
	script(src='clock.js')
