body{
	background-color:#000;
}
img {
	image-orientation: from-image;
}
.vertical-center{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}